<div class="footer">
    <div class="footer__box">
        <div class="footer__box__oneElement">
            <div class="img">
                <div class="img1"></div>
            </div>
            <div class="img">
                <div class="img2"></div>
            </div>
        </div>
        <div class="footer__box__twoElement">
            <a [routerLink]="['/payment']">Оплата</a>
            <a [routerLink]="['/about']">Про нас</a>
            <a [routerLink]="['/contacts']">Контакти</a>
            <a [routerLink]="['/discounts']">Акціі</a>
        </div>
        <div class="footer__box__threeElement" [routerLink]="['/menu']">
            onM.ua
        </div>
    </div>
</div>
