@import '../../shared/styles/theme-material';
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textOne{
    display: block;
    margin: 0 auto;
    @include size(100%,130px);
    font-size: 25px;
    @include flexCenter();
    text-align: center;
    font-weight: 400;
}
button{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    font-size: 22px;
}
@media screen and (max-width:500px){
    .textOne{
        display: block;
        margin: 0 auto;
        @include size(100%,120px);
        font-size: 18px;
        @include flexCenter();
        text-align: center;
        font-weight: 400;
    }
}