<div class="lentInfo">Для партнерів</div>
<main [style.minHeight.px]="h-200">
    <div class="text">
        <div>Партнерство у бізнесі – вигідний спосіб сумісної роботи та отримання задоволення від результату. Чому? Тому що ми пропонуємо партнерство у сучасній, гнучкій та цікавій компанії. Такий варіант співпраці приносить користь обом сторонам, фінансові можливості, рекламу та зростання бізнесу. Це не просто слова, адже ви на цій сторінці тому, що хочете, аби ваш місцевий бізнес зростав та розвивався.</div>
        <div>«onM.ua» здійснює послуги доставки піци у Львові. Це конкурентна та динамічна ніша, яка з швидким темпом змінюється та розширюється. Ми забезпечуємо якісний сервіс та притримуємось сучасних стандартів роботи, аби задовольнити побажання найвибагливішого клієнта. Разом з тим, ми лояльні до наших нових партнерів та готові обговорити деталі співпраці вже сьогодні – зв’яжіться з нами за контактною формою, що вказана нижче, і ми відповімо на всі ваші запитання.</div>
        <div>Ми доставляємо піцу, салати та напої у межах України, маємо широкий асортимент, приємні для клієнтів ціни, якісний сервіс та чудові умови. «onM.ua» піклується про своїх клієнтів і завжди відбирає для них лише найкраще. Готові приєднатись, відчуваєте, що маєте ресурси і бажання? Зконтактуйте з нами і розпочнемо нове і перспективне партнерство.</div>
        <div>Це сторінка зв’язку для фірм або осіб-підприємців, які можуть запропонувати «onM.ua» вигідне партнерство. Ми завжди відкриті до пропозицій та діалогів і завжди у пошуках надійних та закоханих у свою справу людей – таких, і як ми.</div>
    </div>
    <h1>Залишити заявку</h1>
    <div class="inputBox">
        <form class="inputBox__block" [formGroup]="partnersForm" (ngSubmit)="submitForm()">
            <input type="text" placeholder="Ваше ім'я*" formControlName="name">
            <input type="text" placeholder="Ваш телефон" formControlName="phoneNumber">
            <input type="text" placeholder="Ваш email" formControlName="email">
            <textarea cols="30" rows="10" placeholder="Ваше повідомлення" formControlName="comment"></textarea>
            <button type="submit" [disabled]="partnersForm.invalid">Відправити</button>
        </form>
    </div>
</main>

