<div class="lentInfo">Про нас</div>
<main [style.minHeight.px]="h-200">
    <div class="text">
        <div>Сервіс доставки їжі “onM.ua”  – це не просто черговий бізнес. У нас є декілька переваг перед конкурентами, далі детальніше розповімо про них.</div>
        <div>По-перше, доставка їжі  “onM.ua” використовує лише найсвіжіші та найсмачніші продукти. Це не просто рекламна фраза. Ми співпрацюємо з українськими виробниками і постачальниками, тому ваша піца завжди випечена з натуральних продуктів. Все, від овочей до сирів, є справжнім, екологічно чистим та вирощеним на українській землі.</div>
        <div>По-друге, ми чітко зазначаємо термін доставки піци. Швидка доставка піци – наш козир і показник репутації серед клієнтів і конкурентів. Ми сформували у Львові три зони доставки – зелену, жовту та синю. Для кожної з них є чіткий час доставки і якщо наш кур’єр запізнюється – Ви отримуєте безкоштовну піцу до свого наступного замовлення. Карту зонування Львова ви знайдете на сторінці “Доставка та оплата”.</div>
        <div>По-третє, ми печемо не просто піцу. Наша піца – це піца на дровах у Львові. Піца на дровах – це надзвичайний смак тіста та ніжний розплавлений сир. Її просто необхідно спробувати, описати цей смак словами майже нереально.</div>
        <div>“onM.ua” може ще довго і багато писати про свої переваги, але ви ж прийшли сюди тому, що хочете гарячої піци, чи не так? То чи не краще один раз спробувати і бути ситим, ніж сто разів прочитати це, залишаючись голодним?</div>
    </div>
</main>
