@import '../../shared/styles/theme-material';
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textOne{
    display: block;
    margin: 0 auto;
    @include size(100%,130px);
    font-size: 30px;
    @include flexCenter();
}
button{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    font-size: 22px;
}