@import '../shared/styles/mixins';
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    @include size(100%, 10px);
    margin-top: 90px;
    display: flex;
    .box {
        position: relative;
        top: 0;
        left: 0;
        @include size(250px, 770px);
        @include flexCenter();
        background-color: black;
        .panel {
            @include size(100%, 84%);
            background-color: black;
            @include flex(space-around, center);
            flex-direction: column;
            position: relative;
            top: -50px;

            &__element {
                list-style-type: none;
                font-size: 20px;
                @include size(150px, 50px);


                &__noActive {
                    border-radius: 10px;
                    @include size(100%, 100%);
                    border: 2px solid black;

                    display: block;
                    text-decoration: none;
                    color: white;
                    @include flexCenter();
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                    &:hover {
                        transition-duration: 0.2s;
                        transition-property: border;
                        border: 2px solid white;

                    }

                }
                &__active{
                    background-color: white;
                    color: black;
                }
                &>button{
                    background-color: rgb(164, 27, 27);
                    &:hover{
                        border: 2px solid rgb(164, 27, 27) ;
                        color: rgb(212, 211, 210);
                    }
                }
            }
        }
    }
    .routerAutlet{
        width: 600px;
        height: 770px;
    }
}
